.postDate {
  padding: 0 0 0.3rem;
  font-size: 0.9rem;
}

.postTags {
  font-size: 0.9rem;
}
.postTags a {
  padding-right: 0.8rem;
}

.postTitle {
  /* font-size: 1.6rem; */
  font-size: 2rem;
  color: var(--fg);
  display: block;
}
@media (max-width: 600px) {
  .postTitle {
    font-size: 1rem;
    display: block;
  }
}
.postTitle a {
  font-size: 1rem;
  color: inherit;
  display: block;
}
@media (max-width: 600px) {
  .postTitle a {
    font-size: 1.3rem;
    display: block;
  }
}

.postExcerpt {
  padding: 0.2rem 0;
  font-size: 1rem;
}

.postBody {
  padding: 5rem 2.5rem;
  margin: 0.5rem 0;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  overflow: scroll;
  width: 100%;
  height: 75vh;
  scrollbar-width: none;
  border-radius: 10px;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.85' numOctaves='2' stitchTiles='stitch'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' opacity='0.04'/%3E%3C/svg%3E");
  background-color: #fafafa;
  box-shadow: 0 4px 15px rgba(255, 255, 255, 0.2);
}

/* その場で */
.fadeIn {
  animation: fadeInAnime 1s ease-out;
  /* animation-name: fadeInAnime;
  animation-duration: 1s;
  animation-fill-mode: forwards; */
  opacity: 0;
}

@keyframes fadeInAnime {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.postBody * {
  animation: fadeInAnime 0.8s ease-out forwards;
  opacity: 0;
}

.postBody p {
  color: var(--bg);
  padding-right: 1rem;
  user-select: none;
}

.postBody div {
  color: var(--bg);
  padding-right: 0.85rem; 
  user-select: none;
  line-height: 1.7rem;
  font-size: 1.1rem;
  font-family: "游明朝", "YuMincho", "Yu Mincho", "Hiragino Mincho ProN", "Hiragino Mincho Pro", "MS PMincho", "serif";
}

.postBody blockquote {
  margin: 1rem 1rem;
}

.postBody blockquote div {
  margin: 0.5rem 0;
  border-radius: 10px;
  background-color: var(--quote);
  text-indent: 0.975rem;
  color: var(--bg);
  padding: 1.5rem 1.5rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  line-height: 1.7rem;
  font-size: 0.85rem;
  font-family: '中ゴシックBBB', '游ゴシック', YuGothic, 'ヒラギノ角ゴ Pro W3',
    'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック',
    'MS P Gothic', sans-serif;
}

.postBody::-webkit-scrollbar {
  display: none;
}

.readMoreLink {
  color: var(--fg);
}
.readMoreLink a {
  display: block;
  width: 30%;
  margin: 1rem auto 0;
  border: 1px solid var(--accents-2);
  color: inherit;
  font-size: 0.85rem;
  text-align: center;
  line-height: 3rem;
}
@media (max-width: 600px) {
  .readMoreLink a {
    width: 50%;
  }
}

.nextPageLink {
  color: var(--fg);
}
.nextPageLink a {
  display: block;
  width: 30%;
  margin: 0 auto;
  border: 1px solid var(--accents-2);
  color: inherit;
  font-size: 0.85rem;
  text-align: center;
  line-height: 3rem;
}
@media (max-width: 600px) {
  .nextPageLink a {
    width: 50%;
  }
}

.noContents {
}

.blogPostLink {
}
.blogPostLink h3 {
  margin: 0;
  font-size: 1.1rem;
}
.blogPostLink ul {
  list-style-type: none;
  padding: 0;
  margin-top: 0.3rem;
}
.blogPostLink ul li {
  position: relative;
  font-size: 0.95rem;
  padding: 0.4rem 0;
  padding-left: 0.7rem;
  line-height: 1.2rem;
}
.blogPostLink ul li:before {
  border-radius: 50%;
  width: 5px;
  height: 5px;
  display: block;
  position: absolute;
  left: 0;
  top: 0.9rem;
  content: '';
  background: #333;
}

.blogTagLink {
}
.blogTagLink h3 {
  margin: 0;
  font-size: 1.1rem;
}
.blogTagLink ul {
  list-style-type: none;
  padding: 0;
  margin-top: 0.3rem;
}
.blogTagLink ul li {
  position: relative;
  font-size: 1rem;
  padding: 0.4rem 0;
  padding-left: 0.7rem;
  line-height: 1.2rem;
}
.blogTagLink ul li:before {
  border-radius: 50%;
  width: 5px;
  height: 5px;
  display: block;
  position: absolute;
  left: 0;
  top: 0.9rem;
  content: '';
  background: #333;
}

.postsNotFound {
}

@media (max-width: 600px) {
  .tag {
    font-size: 0.75rem;
    padding-right: 0.75rem;
  }

  .post a.expandButton {
    width: 50%;
  }

  .post .caption {
    font-size: 0.9rem;
  }

  .nextContainer {
    padding: 0;
  }
  .nextContainer a.nextButton {
    width: 50%;
  }
}
