.header {
  display: block;
  padding: 10px 0 25px 0;
  text-align: left;
}

.header h1 {
  /* padding: 0.5rem 0; */
  font-weight: 300;
  color: var(--fg);
}
.header h1 a {
  color: inherit;
}
.header ul {
  list-style: none;
  margin: inherit;
  padding: 0.5rem 0;
  font-size: 1.1rem;
}
@media (max-width: 600px) {
  .header ul {
    font-size: 1rem;
  }
}
.header ul li {
  display: inline-block;
  padding: 0 15px;
}
.header ul li :global(a.active) {
  color: var(--accents-3);
}

.header a {
  color: --fg;
  font-weight: 600;
  font-size: 0.5rem;
  text-align: left;
  padding: 0.1rem 0;
  margin-bottom: 0.1rem;
  background-image: linear-gradient(
    90deg,
    transparent 0 60px,
    var(--fg) 0 90px
  );
  background-repeat: no-repeat;
  background-size: 100% 1px;
  background-position: bottom;
  font-weight: bold;
  display: block;
  /* width: 90vw; */
  /* width:10000px; */
}
